# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Dart

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:
    branches: [ "main", "dev" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      # Note: This workflow uses the latest stable version of the Dart SDK.
      # You can specify other versions if desired, see documentation here:
      # https://github.com/dart-lang/setup-dart/blob/main/README.md
      # - uses: dart-lang/setup-dart@v1
      - uses: dart-lang/setup-dart@9a04e6d73cca37bd455e0608d7e5092f881fd603

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.35.5' # or whatever version you need


      - name: Install dependencies
        run: flutter pub get

      - name: Create .env file
        run: |
          cat <<EOF > .env
          SUPABASE_URL=TEST
          SUPABASE_KEY=TEST
          STRIPE_SECRET=TEST
          EOF


      - name: Run tests with coverage and machine output (printed + saved)
        run: |
          flutter test \
            --machine \
            --coverage \
            | tee test_output.json

      - name: Install junitreport converter
        run: dart pub global activate junitreport

      - name: Convert machine output to JUnit XML
        run: |
          cat test_output.json | tojunit --output test_report.xml

      - name: Generate HTML coverage report
        run: |
          sudo apt-get install -y lcov
          genhtml coverage/lcov.info --output-directory coverage/html

      - name: Upload JUnit Test Report
        uses: actions/upload-artifact@v4
        with:
          name: junit-test-report
          path: test_report.xml

      - name: Upload HTML Coverage Report
        uses: actions/upload-artifact@v4
        with:
          name: html-coverage-report
          path: coverage/html/